@font-face {
  font-family: Khalila;
  src: url("../assets/fonts/Khalila.woff") format("woff"), url("../assets/fonts/Khalila.ttf")  format("truetype");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
  background-color: #fae9e8;
}

.about {
  height: 100vh;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 45%;
  height: 65vh;
  float: left;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  color: #D85466;
  font-size: 7em;
  letter-spacing: 5px;
  font-family: "Khalila", "Dosis", sans-serif;
}

.text {
  width: 45%;
  height: 65vh;
  float: right;
  padding: 25px;
  font-size: 1.2em;
  line-height: 30px;
  font-family: "Dosis", sans-serif;
  display: flex;
  align-items: center;
  text-align: right;
}

#blossom_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.petal {
  width: 50px;
  height: 50px;
  background-image: url("/assets/cherry_blossom.png");
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}