html, body {
  max-width: 100%;
  overflow-x: hidden;
  cursor: url(../assets/pointer.svg), auto;
  background-image: url(../assets/abt-bgd.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size:auto;
  
}

section {
  position: absolute;
  text-align: left;
  /* justify-content: center; */
  display: flex;
  margin: 150px 50px;
}


.about {
  background-color: white;
  position: relative;
  text-align: left;
  margin: 30px 45px;
  display: inline-block;
  border: 3px solid black;
}

.box {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3px solid black;
  background-color: white;
}

.tl {
  left: -1%;
  top: -2%;
}

.tr {
  left: 99.3%;
  top: -2%;
}

.bl {
  left: -1%;
  top: 98%;
}

.br {
  left: 99.3%;
  top: 98%;
}

p {
  padding: 0 20px;
  font-family: "Dosis", sans-serif;
  color: #363634;
  font-size: 18px;
  line-height: 30px;
}

.signature {
  color: #81763d;
}

@media (max-width: 800px) {
  .about {
    margin: 10px 0;
  }
  .box {
    display: none;
  }
}