html, body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  position: absolute;
  text-align: left;
  margin: 100px 50px;
  display: flex;
}

.intro {
  position: relative;
  text-align: left;
  margin-left: 30px;
  display: inline-block;
}

.pic {
  display: inline-block;
  padding-right: 20px;
}

img {
  max-width:85%;
  height: auto;
  float: right;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #008c53;
  font-size: 5em;
  margin-bottom: 0;
}

p {
  font-family: "Dosis", sans-serif;
  color: black;
  font-size: 20px;
}

@media (max-width: 850px) {
  section {
    display: flex;
    flex-flow: row wrap;
  }
  .intro {
    order: 5;
    width: 100%;
  }
  .pic {
    order: 10;
    width: 100%;
  }
  img {
    max-width:100%;
  }
}