html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  justify-content: center;
  align-items: center;
}

section {
  position: absolute;
  text-align: left;
  width: 0;
  bottom: 20%;
}

.info {
  position: absolute;
  margin-bottom: 0em;
  z-index: 1000;
  text-align: left;
  width: 520px;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: black;
  font-size: 3em;
}

h1,
ul {
  margin: 5px 0;
}

ul.social {
  list-style: none;
  padding-left: 0;
  float: left;
}

li.social {
  display: inline;
  font-size: 2em;
}

a.social {
  color: black;
  padding: 0 5px;
  transition: all 0.2s;

}

a:hover.social {
  color: #008c53;
}

@media (max-width: 850px) {
  .info {
    width: 200px;
  }
}