html, body {
  max-width: 100%;
  overflow-x: hidden;
  cursor: url(../assets/pointer.svg), auto;
  background-color: #F8F8F8;
}

body {
  display:flow-root;
}

section {
  padding-top: 20px;
}

.post-link {
  font-family: "Dosis", sans-serif;
  color: #7B61FF;
  /* -o-transition: 0.15s;
  -ms-transition: 0.15s;
  -moz-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s; */
  text-decoration: none;
  align-items: center;
}

/* a:hover.post-link,
a:focus.post-link {
  background-color: transparent !important;
  text-decoration: none;
  cursor: url(../assets/pointer.svg), auto;
} */

.card:hover .post {
  outline: 4px solid #45B5F4;
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}

.card:hover h3 {
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
  color: #45B5F4;
}

@keyframes fadein {
  to {
    border: 3px solid #45B5F4;
  }
}

/* a:focus.post-link {
  color: #7B61FF;
}

@keyframes fadeout {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
} */

ul.post-list {
  list-style: none;
}

.post {
  border: 5px solid white;
  background-color: white;
}


/* .post.faded {
  animation: fadein 0.5s forwards;
} */

.post-list {
  margin-top: 45px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
}

.post-list li {
  flex: calc(50% - 20px);
  padding: 0 10px;
  margin: 50px 0;
  margin-bottom: 0;
}

.post-info {
  margin: 0 auto;
  width: 90%;
}

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #9b9b9b;
  margin-bottom: 3px;
}

p {
  font-size: 20px;
}

.post-list li .post-image {
  position: relative;
  width: 95%;
  height: 260px;
  margin: 15px auto;
  overflow: hidden;
}

.post-list li .post-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 768px) {
  .post-list li {
    flex: 100%;
    padding: 0 0;
  }
}
