body {
  display:flow-root;
}

section {
  padding-top: 20px;
}

.post-link {
  font-family: "Dosis", sans-serif;
  color: #008c53;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  -moz-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-decoration: none;
}
a:hover.post-link,
a:focus.post-link {
  background-color: transparent !important;
  text-decoration: none;
}
a:hover.post-link {
  color: black;
}
a:focus.post-link {
  color: #008c53;
}

@keyframes fadeout {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

ul.post-list {
  list-style: none;
}

.post {
  animation: fadeout 0.5s forwards;
}

.post.faded {
  animation: fadein 0.5s forwards;
}

.post-list {
  margin-top: 0;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
}
.post-list li {
  flex: calc(50% - 20px);
  padding: 0 10px;
  margin: 50px 0;
  margin-bottom: 0;
}
h3 {
  font-size: 30px;
}
.post-list li .post-image {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}
.post-list li .post-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .post-list li {
    flex: 100%;
    padding: 0 0;
  }
}
