.container {
  position: relative;
  text-align: center;
  color: white;
}

.last {
  position: absolute;
  top: 50%;
  left: 8%;
  background: white;
  color: black;
  padding: 3px;
  font-family: "Courier New";
}


.first {
  position: absolute;
  top: 40%;
  left: 7%;
  background: white;
  color: black;
  padding: 3px;
  font-family: "Courier New";
}
