/* !!!! HI! This is a MAJOR work in progress and I am not even close to done with this site.
I am currently hitting a few roadblocks as I continue to learn more about coding and building a website.
I do not know all of the possibilities that are in store with coding, so there will be TONS AND TONS of mistakes made.
Thank you!
*/


.container {
  position: relative;
  text-align: center;
  color: white;
  opacity: 0.80;
}

.last {
  position: absolute;
  top: 60%;
  left: 13%;
  background: white;
  color: black;
  padding: 5px;
  font-family: "Courier New";
  font-size: 60px;
  padding-left: 7px;
  padding-right: 7px;
}
a {
  font-family: FontAwesome;
  margin: 20px;
  font-size: 60px;
  color: white;
}
.first {
  position: absolute;
  top: 40%;
  left: 7%;
  background: white;
  color: black;
  padding: 5px;
  font-family: "Courier New";
  font-size: 60px;
  padding-left: 7px;
  padding-right: 7px;
}



/*
h2:hover {
  -webkit-animation: fade 500ms ease-in-out 1 normal forwards;
}
@-webkit-keyframes fade {
  0% {
    color: black;
  }
  100% {
    color: white
  }
}
*/
#social {
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding-right: 5px; 
  padding-bottom: 5px;
}
  #social li {
    display: block;
    font-size: 15px; 
}
  #social li a {
    font-color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s; 
}
  #social li a:hover {
    font-color: plum;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s; 
}

h4 {
  position: relative;
  color: grey;
  text-align: center;
  font-family: "Courier New";
  font-size: 15px;
}
