#slideshow > .fade { 
  position: absolute;  
  overflow: hidden;
  position: absolute;
  width: 85%;
  height: 400px;
  right: 0px;
  top: 10px;
    }  
.banner {
  max-width:100%;
  width: 100%;
}

#project {
  margin-top: 430px;
}

#last {
  position: absolute;
  top: 45%;
  left: 10%;
  background: plum;
  padding: 3px 7px;
  font-family: "Courier New";
  font-size: 45px;
  color: white;
}

a {
  right: 0px;
  font-family: FontAwesome;
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
  
}
.fa-twitter {
  right: 3px;
}
#first {
  position: absolute;
  top: 35%;
  left: 7%;
  background: plum;
  color: white;
  font-family: "Courier New";
  font-size: 45px;
  padding: 3px 7px;
}

#social {
  position: absolute;
  right: 0px;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

#social li.media {
  font-size: 30px;
  margin-bottom: 30px;
  display: block;
}

#social li.media a {
  color: white;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

#social li.media a:hover {
  color: plum;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}


body {
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  font-size: 45px;
  color: black;
  font-family: "Courier New";
  overflow: hidden;
  border-right: .1em solid plum;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: 
    typing 2s steps(18, end),
    blink .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: plum }
}

#monarch {
  position: absolute;
  margin: 100px 80px;
  padding: 0px;
  height: 300px;
  padding-bottom: 90px;
}

#monarchpic {
  opacity: .8;
  width: 50%;
  height: 300px;
}




