<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://kit.fontawesome.com/a890946c74.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Kaelen's website</title>
    <!-- <link rel = "icon" href = ""  type = "image/x-icon">  -->
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <section>
      <div class="intro">
        <h1>Hello!</h1>
        <p>
          I am a current undergraduate student at the University of Texas at
          Austin studying Mathematics and pursuing an Elements of Computing
          certificate and an Applied Statistical Modeling certificate.
        </p>
        <p>
          I am really interested in social and food justice, environmental
          sustainability, data science/analytics, and software development for
          underrepresented and marginalized communities. I also enjoy spending
          my time skating, listening to music, and gardening.
        </p>
      </div>
      <div class="pic">
        <img src="../assets/rotated_polaroid.png">
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r119/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="../script/about.js"></script>
    <script>
      $(function () {
        $("#nav-placeholder").load("nav.html");
      });
    </script>
  </body>
</html>
