<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Kaelen</title>
  </head>
  <body>
    <div id="nav-placeholder"></div>
    <div class="info">
      <h1>Kaelen Saythongkham</h1>
      <ul>
        <li>
          <a href="https://instagram.com/phetsouvanh" target="_blank"
            ><i class="fab fa-instagram" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/kaelensayth/" target="_blank"
            ><i class="fab fa-linkedin" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/kaelens" target="_blank"
            ><i class="fab fa-github" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
    <script src="https://kit.fontawesome.com/a890946c74.js"></script>
    <script src="../script/home.js"></script>
    <script>
        $(function() {
            $("#nav-placeholder").load("nav.html");
        });
    </script>
  </body>
</html>
