<link rel="stylesheet" href="../css/nav.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
  rel="stylesheet"
/>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />

<nav>
  <div>
    <ul class="nav">
      <li class="navi"><a href="/" class="link">Home</a></li>
      <li class="navi"><a href="about.html" class="link">About</a></li>
      <li class="navi"><a href="projects.html" class="link">Projects</a></li>
      <li class="navi">
        <a
          href="../assets/Kaelen_Saythongkham_resume.pdf"
          class="link"
          target="_blank"
          >Resume</a
        >
      </li>
    </ul>
  </div>
</nav>
