<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/projects.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://kit.fontawesome.com/a890946c74.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Kaelen's website</title>
    <!-- <link rel = "icon" href = ""  type = "image/x-icon">  -->
  </head>
  <body>
    <div id="nav-placeholder"></div>

    <section>
      <ul class="post-list">
        <li>
          <div class="post">
            <a class="post-link" href="https://github.com/Alamin-Momin/Covergent_BT_Sports_Data">
              <h3>autoClips</h3>
              <div class="post-image">
                <img src="../assets/autoClips.png" />
              </div>
              <div class="post-info">
                <p>
                  Texas Convergent project that uses a linear machine learning model to generate 
                  the top 50 plays in a sports game and uses a react front end for consumer export.
                </p>
              </div>
            </a>
          </div>
        </li>

        <li>
          <div class="post">
            <a class="post-link" href="/">
              <h3>AC Rest API</h3>
              <div class="post-image">
                <img src="../assets/Rest-API.png" />
              </div>
              <div class="post-info">
                <p>
                  Basic REST API that displays names, species, personality,
                  birthday and catch phrase of each villager.
                </p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="post">
            <a class="post-link" href="https://github.com/stephen8chang/TeamTransportation-Foodability">
              <h3>Foodability</h3>
              <div class="post-image">
                <img src="../assets/foodability.png" />
              </div>
              <div class="post-info">
                <p>
                  Texas Convergent project that uses Google Maps API to create a local restaurant 
                  rating app for accessbility and accommodations made by that restaurant.
                </p>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="post">
            <a class="post-link" href="https://kaelensayth.me/ACNL/">
              <h3>ACNL CSS Animation</h3>
              <div class="post-image">
                <img src="../assets/Animal-Crossing.png" />
              </div>
              <div class="post-info">
                <p>
                  Simple CSS animation in HTML that resembles the Animal Crossing New Leaf logo.
                </p>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r119/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
    <script src="../script/projects.js"></script>
    <script>
      $(function () {
        $("#nav-placeholder").load("nav.html");
      });
      $(function () {
        $("#projects-placeholder").load("posts.html");
      });
    </script>
  </body>
</html>
